* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    
}

.wrapper {
    margin-right:80px;
    margin-left: 80px; 
}

.header {
    margin-top:70px;
}

.header__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 36px;
}

.header__navigation--list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 28px;
    padding: 0;
}

.header__navigation--burger {
    visibility:hidden;
}

.header__navigation--wholeside {
    display: flex;
    flex-direction: row;
}

.list__item {
    text-decoration: none;
}

.text-style {
        line-height: 120%;
    margin: 0;
    
}

.list__item--active {
    color: #FF3998;
    font-size: 20px;
}

.section__hero {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 560px;
    gap:100px;
    margin: 182px 0px 182px 0px;
    
}


.section__hero--token {
    align-self: center;
}


.smallhead {
    
    text-transform: uppercase;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.1em;
    margin: 0;
    
}

.text-style-pink {
    color: #FF3998;
}

.bighead {
    color: #111111;
    font-size: 96px;
    line-height: 120%;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 32px;
}

.text-style-grey {
    color: #555555;
    font-size: 20px;
    margin:0px;
}

.signup-button {
    color: #111111;
    font-size: 20px;
    line-height: 150%;
    text-decoration: none;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 100px;
    padding: 23px 54px 23px 54px;
}

button {
    border-radius: 100px;
    border: transparent;
    background: linear-gradient(55deg, hsl(331deg 100% 61%) 0%,
            hsl(337deg 100% 61%) 9%,
            hsl(344deg 100% 61%) 18%,
            hsl(352deg 100% 61%) 27%,
            hsl(3deg 100% 61%) 36%,
            hsl(10deg 100% 61%) 45%,
            hsl(16deg 100% 61%) 55%,
            hsl(20deg 100% 61%) 64%,
            hsl(30deg 76% 62%) 73%,
            hsl(63deg 41% 61%) 82%,
            hsl(119deg 62% 72%) 91%,
            hsl(151deg 100% 61%) 100%);
    background-repeat: no-repeat;
    background-clip: padding-box;
    width: 188px;
    height: 76px;
    padding: 0;
    margin-top: 41px;
}

.section__upsell {
    background-image: url(assets/background.svg);
    width: 1280px;
    height: 320px;
    display: flex;
    align-items: flex-end;
    padding-top: 154px;
    padding-bottom: 64px;
    padding-left: 64px;
    margin-right:80px;
    margin-left: 80px; 
}

.text-style-black {
    margin: 0;
    color: #111111;
}

.mediumhead {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    margin: 0px 0px 24px 0px;
}


.section__press--list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    padding:0;
    margin:120px 0px 120px 0px;
}

.text-style--active {
    color: #555555;
}

.showcase__tokens {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 400px;
    gap:40px;
    margin:56px 0px 120px 0px;
}

.showcase-head {
    margin-bottom:24px;
}

.token {
    display: grid;
}

.token-textbox {
    display: flex;
    flex-direction: column;
    background: #EEEEEE;
    border-radius: 0px 0px 16px 16px;
    padding: 24px;
    gap:12px;
    width:290px;
}

.textbox {
    margin:0;
}

.token-textbox--layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.textbox-firstline {
    text-transform: uppercase;
    font-size: 12px;
}

.text-style-orange {
    color:#FF8139;
}


.token-textbox--innerlayout{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:8px;
}

.token-textbox--secondline {
    font-size:20px;
}

.token-textbox--thirdline {
    color:#777777;
    font-size:18px;
}

.clickable-token {
    text-decoration: none;
}

.section__lowerupsell {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 2px solid #EEEEEE;
    border-bottom: 2px solid #EEEEEE;
    height: 554px;
}

.mediumhead-heavy {
    font-size: 56px;
    line-height: 120%;
    color: #111111;
    margin-top: 24px;
    margin-bottom: 24px;
}

.section__lowerupsell--launchinfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.section__lowersell--token {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
}

.footer__contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top:124px;
    padding-bottom:140px;
}

.footer__contacts--social {
    display: flex;
    flex-direction: column;
    gap:30px;
    margin:0;

}

.footer__contacts--logo {
    width:198px;
        
}

.footer__contacts--logolist {
    display: flex;
        gap:16px;
}

.footer__contacts--moreinfo {
    display: flex;
    justify-content: space-between;
}

.moreinfo-list {
    list-style: none;
    padding:0;
    display: flex;
    flex-direction: column;
    gap:16px;
    margin:0;
}

.smallhead-grey {
    color: #555555;
    margin-bottom:28px;
}

.final__footer {
    display: flex;
    justify-content: space-between;
    margin-bottom:72px;
}

.final__footer--text {
    font-size: 20px;
    color:#999999;
    margin:0;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        margin-right: 32px;
        margin-left: 32px; 
    }

    .header {
        margin-top:32px;
    }

    .section__hero {
        margin: 80px 0px 80px 0px;
        gap:0;
    }

    .header__navigation--list {
     display:none;
    }
 
    .header__navigation--burger {
     visibility:visible;
 }

  .section__upsell {
     margin-right:0px;
     margin-left: 0px; 
     background-image: none;
     background: linear-gradient(55deg, hsl(331deg 100% 61%) 0%,
            hsl(337deg 100% 61%) 9%,
            hsl(344deg 100% 61%) 18%,
            hsl(352deg 100% 61%) 27%,
            hsl(3deg 100% 61%) 36%,
            hsl(10deg 100% 61%) 45%,
            hsl(16deg 100% 61%) 55%,
            hsl(20deg 100% 61%) 64%,
            hsl(30deg 76% 62%) 73%,
            hsl(63deg 41% 61%) 82%,
            hsl(119deg 62% 72%) 91%,
            hsl(151deg 100% 61%) 100%);
     padding:32px;
     width:100%;
  }

.section__press--list {
    display: grid;
    grid-template-columns: 150px 150px;
    margin:0;
}


.item-crop {
    clip-path: inset(0px 78px 0px 0);
}

 .item-four{
    display: none;   
 }
     
 
     .bighead {
         font-size:48px;
     }
 
 
     .section__press--list {
         flex-wrap: wrap;
     }
 
     .section__hero--token {
         overflow: scroll;
     }

     .showcase__tokens {
        margin:56px 0px 94px 0px;
    }

     .showcase__tokens {
        overflow: scroll;
        height: 100%;
     }
    
     
    
 
 }
