* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.wrapper {
    margin: 70px 80px 72px 80px;
}

.header__navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 36px;
}

.header__navigation--list {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 28px;
    padding: 0;
}

.list__item {
    text-decoration: none;
}

.text-style {
    font-size: 20px;
    line-height: 120%;
    margin: 0;
}

.list__item--active {
    color: #FF3998;
}

.section__hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 520px;
}

.section__hero--token {
    background-image: url(assets/graphic.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
}

.smallhead {
    color: #FF3998;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 1px;
    margin: 0;
}

.bighead {
    color: #111111;
    font-size: 96px;
    line-height: 120%;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 32px;
}

.text-style-grey {
    color: #555555;
}

.signup-button {
    color: #111111;
    font-size: 20px;
    line-height: 150%;
    text-decoration: none;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 100px;
    padding: 23px 54px 23px 54px;
}

button {
    border-radius: 100px;
    border: transparent;
    background: linear-gradient(55deg, hsl(331deg 100% 61%) 0%,
            hsl(337deg 100% 61%) 9%,
            hsl(344deg 100% 61%) 18%,
            hsl(352deg 100% 61%) 27%,
            hsl(3deg 100% 61%) 36%,
            hsl(10deg 100% 61%) 45%,
            hsl(16deg 100% 61%) 55%,
            hsl(20deg 100% 61%) 64%,
            hsl(30deg 76% 62%) 73%,
            hsl(63deg 41% 61%) 82%,
            hsl(119deg 62% 72%) 91%,
            hsl(151deg 100% 61%) 100%);
    background-repeat: no-repeat;
    background-clip: padding-box;
    width: 188px;
    height: 76px;
    padding: 0;
    margin-top: 41px;
}

.section__upsell {
    background-image: url(assets/background.svg);
    width: 1280px;
    height: 320px;
    display: flex;
    align-items: flex-end;
    padding-top: 154px;
    padding-bottom: 64px;
    padding-left: 64px;
}

.text-style-back {
    margin: 0;
    color: #111111;
}

.mediumhead {
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    margin: 0px 0px 24px 0px;
}


.section__press--list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items:center;
    padding:0;
}

.text-style--active {
    color: #555555;
}

.showcase__tokens {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 400px;
    gap:40px;
}

